 

<ion-content color="secondary">
  <div class="box">
      <div class="logo-center">
        <img src="../assets/img/logo/logo.jpg" >
    </div>
  </div>


  <div class="box2" style="margin-top:5px;min-height:80%;">
    <div class="user">
        <div class="logo-center2">
        <img src="../assets/img/Promo/pick.png" >
        <ion-row >
          <ion-col size='5'>

            <ion-row>
              <ion-col>A</ion-col>
              <ion-col>B</ion-col>
              <ion-col>C</ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('1A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('1B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('1C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('2A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('2B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('2C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('3A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('3B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('3C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('4A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('4B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('4C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('5A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('5B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('5C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('6A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('6B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('6C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('7A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('7B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('7C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('8A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('8B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('8C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('9A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('9B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('9C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('10A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('10B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('10C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('11A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('11B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('11C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('12A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('12B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('12C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('13A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('13B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('13C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('14A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('14B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('14C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('15A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('15B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('15C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('16A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('16B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('16C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('17A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('17B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('17C')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('18A')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('18B')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('18C')">AB</span></ion-col>
            </ion-row>
          </ion-col>

          <ion-col size='2'>

            <ion-row><ion-col>&nbsp;</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>1</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>2</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>3</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>4</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>5</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>6</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>7</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>8</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>9</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>10</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>11</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>12</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>13</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>14</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>15</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>16</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>17</ion-col></ion-row>
            <ion-row style="margin-bottom:2vw;"><ion-col>18</ion-col></ion-row>
          </ion-col>

          <ion-col size='5'>

            <ion-row>
              <ion-col>D</ion-col>
              <ion-col>E</ion-col>
              <ion-col>F</ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('1D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('1E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('1F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('2D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('2E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('2F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('3D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('3E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('3F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('4D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('4E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('4F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('5D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('5E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('5F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('6D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('6E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('6F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('7D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('7E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('7F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('8D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('8E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('8F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('9D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('9E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('9F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('10D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('10E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('10F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('11D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('11E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('11F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('12D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('12E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('12F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('13D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('13E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('13F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('14D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('14E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('14F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('15D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('15E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('15F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('16D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('16E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('16F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('17D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('17E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('17F')">AB</span></ion-col>
            </ion-row>
            <ion-row style="margin-bottom:2vw;">
              <ion-col><span class="kotak-baris" (click)="waiting('18D')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('18E')">AB</span></ion-col>
              <ion-col><span class="kotak-baris" (click)="waiting('18F')">AB</span></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </div>
    </div>
  </div>

  

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-grid style="text-align: center;">
        <ion-row>
          <ion-col>
            <button ion-button style="background-color:#fffdff" (click)="home()">
              <ion-icon name="home" style="font-size:40px;color:#9aa3aa;"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button style="background-color:#fffdff" (click)="sync()">
              <ion-icon name="ios-apps" style="font-size:40px;color:#9aa3aa;"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button style="background-color:#fffdff" (click)="payment()">
              <ion-icon name="ios-basket" style="font-size:40px;color:#9aa3aa;"></ion-icon>
            </button>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>